.order-form {
  width: 350px;
  max-width: 330px;
  margin: 30px auto;
  border-radius: 10px;
  padding: 20px 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  color: #000;
  opacity: 1 !important;
}
.bg-image{
  background-color: rgb(67, 253, 253,0.5);
}
#eating{
  width: 450px;
  /* height: 350px; */
  overflow: hidden;
  margin: 0 auto;
  margin-left: 20px;
  opacity: 0.8;
}
.bill-container {
  background-color: rgba(0, 0, 0, 0.8);
  /* color: #000; */
  border-radius: 15px;
  padding: 40px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.login-form .btn {
  width: 100%;
}
.login-form .btn:hover {
  background-color: #002e72 !important;
}
.bg-image {
  margin: 30px 0;
  background-image: url("../images/bg.jpg");
  background-color: black;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 550px;
  width: 100%;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.go-signup {
  margin-top: 10px;
  display: flex;
  position: relative;
}
.go-signup a {
  margin-left: 10px;
  color: #002e72;
  position: absolute;
  right: 0;
  text-decoration: none;
}
.go-signup a:hover {
  text-decoration: underline;
}
